.dayselected{
	;color: black;
	background-color: #87CEEB;
}
.day{
	;color: white;
	background-color:  	#FFFFFF;
}

td:hover{
	background-color: #808080;
}

td div{
	width: 60px;
	height: 40px;
}

.usuarios>ul{
	list-style:none;
}
	   
.usuarios>ul>li{
	cursor: pointer;
}

.check{
	background-image: url("check.png");
	background-repeat: no-repeat;
}