.dayselected{
	;color: black;
	background-color: #87CEEB;
}

td.alta:hover{
	background-color: #808080;
}

td div{
	width: 60px;
	height: 40px;
}

.cursoregistrado{
	width: 60px;
	height: 10px;
}

.usuarios>ul{
	list-style:none;
}
	   
.usuarios>ul>li{
	cursor: pointer;
}

.check{
	background-image: url("check.png");
	background-repeat: no-repeat;
}